.app.dark {
    --bg-color: #1f1A24;
    --inverted-bg-color: #f7f7f7;

    --primary-color: #bb86fc;
    --inverted-primary-color: #1a3623;
    --secondary-color: #03dac5;
    --inverted-secondary-color: #ee6723;
}